<div>
    <h2 class="site-header" translate="site-view.home.title">Sites</h2>
    <alert></alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="site.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="site-view.home.createLabel">
                        Create new Site
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="table table table-striped">
            <thead>
            <tr sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th sort-by="name"><span translate="site-view.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th sort-by="url"><span translate="site-view.url">Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th sort-by="usageDuration"><span translate="site-view.time-spent">Time spent</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stat in vm.stats track by stat.site.id">
                <td><a ui-sref="site.details({id:stat.site.id})">{{stat.site.id}}</a></td>
                <td>{{stat.site.name}}</td>
                <td>{{stat.site.url}}</td>
                <td>{{stat.usageDuration}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="site.details({id:stat.site.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="site.edit({id:stat.site.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="site.delete({id:stat.site.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <item-count page="vm.page" total="vm.queryCount"></item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
