<div class="row">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <a ui-sref="^">Go back</a>
            </div>
            <div class="col-xs-8 no-padding-left">
                <h1>{{ vm.site.name }}</h1>
                <p>Your sessions of {{ vm.site.url }} between</p>

                <div class="form-group">
                    <label class="col-sm-1 control-label">from</label>
                    <div class="col-sm-4">
                        <p class="input-group">
                            <input type="text" class="form-control" datetime-picker="MM/dd/yyyy hh:mm"
                                   ng-model="vm.from.date" is-open="vm.from.open"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                          ng-click="vm.openCalendar($event, 'from')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <label class="col-sm-1 control-label">to</label>
                    <div class="col-sm-4">
                        <p class="input-group">
                            <input type="text" class="form-control" datetime-picker="MM/dd/yyyy hh:mm"
                                   ng-model="vm.to.date" is-open="vm.to.open"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="vm.openCalendar($event, 'to')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>DateTime started</span><span class="glyphicon glyphicon-sort"></span></th>
                <th><span>DateTime ended</span><span class="glyphicon glyphicon-sort"></span></th>
                <th><span>Duration</span><span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tr ng-repeat="session in vm.site.sessions track by session.id">
                <td>{{ session.startTime }}</td>
                <td>{{ session.endTime }}</td>
                <td>{{ session.duration }}</td>
            </tr>
        </table>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>