.navbar-custom {
    border: none;
    background-color: #434A54;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.light-mid-gray {
    background-color: #E6E9ED;
}

.navbar-default .nav .active-parent a,
.navbar-default .nav .active-parent a:hover,
.navbar-default .nav .active-parent a:focus {
    color: #fff;
    background-color: #2986b9;
}

.navbar-default .nav .active-parent .dropdown-menu a {
    color: #fff;
    background-color: #292929;
}

.navbar-default .nav .active-parent .dropdown-menu .active a {
    color: #fff;
    background-color: #2986b9;
}

.logo-img {
    width: 50px;
    height: 50px;
    position: relative;
    padding: 0;
    margin-top: -15px;
}

.site-header {
    text-align: center;
}

.btn-flat {
    border-radius: 0;
}

.no-border-radius {
    border-radius: 0;
}